<div id="login">
    <div v-if="username">
        <p>Signed in as <b>[[ username ]]</b></p>

        <a @click="signOut" href="javascript:void(0)">Sign out</a>

    </div>
    <form v-else onsubmit="return false">
        <p>Login:</p>
        <div class="input-field">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
        </div>
        <button @click="sendCredentials">Submit</button>
        <p style="color:red;">[[ loginError ]]</p>
    </form>

    <div id="includedContent"></div>    
</div>

<script>
    new Vue({
        el: '#login',
        delimiters: ['[[', ']]'],
        data: {
            link: 'http://google.com',
            loginError: '',
            username: '',
        },
        methods: {
            sendCredentials: function() {
                var username = document.getElementById('username').value
                var password = document.getElementById('password').value
                var data = JSON.stringify({ username, password })

                fetch('/api-token-auth/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: data,
                }).then(response => {
                    if(!response.ok) {
                        throw Error("Login failed.")
                    }
                    return response.json()
                }).then(data => {
                    this.username = username
                    console.log(JSON.stringify(data))
                }).catch(error => {
                    this.loginError = error
                })
            },
            signOut: function() {
                this.username  = ''
                this.loginError = ''
            }
        }
    })
</script>