<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <style>
        .demo {
            width: 100px;
            height: 100px;
            background-color: gray;
            display: inline-block;
            margin: 10px;
        }
        .red {
            background-color: red;
        }
        .blue {
            background-color: blue;
        }
        .green {
            background-color: green;
        }
        #effect {
            width: 100px;
            height: 100px;
            border: 1px solid black;
        }
        .highlight {
            background-color: gray;
            width: 200px !important;
        }
        .shrink {
            background-color: blue;
            width: 50px !important;
        }
        .progress-bar {
            width: 200px !important;
            height: 20px;
            border: 1px solid black;
        }
    </style>
</head>


<body>
    <div id="app">
      <table>
        <tr>
    <th>Week</th>
    <th>LeaveType</th>
    <th>LeaveUsed</th>
      </tr>
    <tr v-for = "(week, index) in leavePlan">
      <td>[[index + 1]]</td>
      <td><input type = "text" v-model= "week.leaveType" v-on:keyup= "updateSummary"/></td>
      <td><input type = "number" v-model= "week.leaveUsed" v-on:keyup= "updateSummary"/></td>
    </tr>
  </table>
    <h3>Summary</h3>
    <table>
      <tr>
      <th>LeaveType</th>
      <th>LeaveUsed</th>
    </tr>
      <tr v-for = "type in leaveSummary" >
      <td>[[type.name]]</td>
      <td>[[type.hours]]</td>
    </tr>
    </table>
    <tr></tr>
      </table>
            <button v-on:click="changeLink">Click to Change Link</button>
            <a v-bind:href="link">Link</a>
            <hr>

            <div>
                <p>Current Calue: [[ value ]]</p>
                <button @click="value += 5">Add 5</button>
                <button @click="value += 1">Add 1</button>
                <p>[[ result ]]</p>
            </div>
            <div>
                <input type="text">
                <p>[[ value ]]</p>
            </div>
            <hr>

            <div>
                <div class="demo" @click="attachRed = !attachRed" :class="{red: attachRed}"></div>
                <div class="demo" @click="attachBlue = !attachBlue" :class="{blue: attachBlue}"></div>
                <div class="demo" @click="attachGreen = !attachGreen" :class="{green: attachGreen}"></div>
                <div class="demo" :style="{backgroundColor: color}"></div>
                <input type="text" v-model="color">
                <input type="text" v-model="width">
                <br>
                <div class="demo" :style="myStyle"></div>
            </div>
            <hr>
            <div>
                <button @click="startEffect">Start Effect</button>
                <div id="effect" :class="effectClasses"></div>
            </div>
            <br>
            <div>
                <button @click="startProgress">Start Progress</button>
                <div :class="['progress-bar']">
                    <div :style="progressBar"></div>
                </div>
            </div>
            <hr>
            <div>
                <p v-if="show">Can you see me?</p>
                <p v-else>Now it's me!</p>
                <button @click="show = !show">Switch</button>
            </div>
            <hr>
            <div>
                <ul>
                    <li v-for="(ingredient, i) in ingredients">[[ ingredient ]] ([[ i ]])</li>
                </ul>
                <ul>
                    <li v-for="person in persons">
                        <div v-for="(value, key) in person">[[ key ]]: [[ value ]]</div>
                    </li>
                </ul>
                <span v-for="n in 10">[[ n ]]</span>
            </div>
            <ul>
                <li v-for="value in testData">
                    <template v-if="Array.isArray(value)">
                        <div v-for="element in value">[[ element ]]</div>
                    </template>
                    <template v-else>
                        [[ value ]]
                    </template>
                </li>
            </ul>
    </div>

</body>
</html>
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            link: 'http://google.com',
            value: 0,
            attachRed: false,
            attachBlue: false,
            attachGreen: false,
            color: 'green',
            width: 100,
            effectClasses: {
                highlight: false,
                shrink: true
            },
            progressBar: {
                width: '0px',
                height: '20px',
                backgroundColor: 'red'
            },
            show: true,
            ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
                {name: 'Bob', age: 27, color: 'red'},
                {name: 'Jane', age: 'unkown', color: 'blue'}
            ],
            testData: {
                name: 'TESTOBJECT',
                data: [1.67, 1.33, 0.98, 2.21]
            },
            leavePlan: [
              {leaveType: '', leaveUsed: 0 },
              {leaveType: '', leaveUsed: 0 },
              {leaveType: '', leaveUsed: 0 },
              {leaveType: '', leaveUsed: 0 },
              {leaveType: '', leaveUsed: 0 },
              {leaveType: '', leaveUsed: 0 },
              {leaveType: '', leaveUsed: 0 },
              {leaveType: '', leaveUsed: 0 },
              {leaveType: '', leaveUsed: 0 },
              {leaveType: '', leaveUsed: 0 },
            ],
            leaveSummary: [
              {name: 'LTS', hours: 0},
              {name: 'LTV', hours: 0},
              {name: 'LW1', hours: 0},
              {name: 'LW3', hours: 0},
            ],

        },
        computed: {
            result: function() {
                return this.value >= 37 ? 'done' : 'not there yet';
            },
            myStyle: function() {
                return {
                    backgroundColor: this.color,
                    width: this.width + 'px'
                };
            }
        },
        watch: {
            result: function() {
                var vm = this;
                setTimeout(function(){
                    vm.value = 0;
                }, 5000);
            }
        },
        methods: {
            changeLink: function() {
                this.link = 'http://apple.com'
            },
            resetValue: function() {
                this.value = 0;
            },
            startEffect: function() {
                var vm = this;
                setInterval(function() {
                    vm.effectClasses.highlight = !vm.effectClasses.highlight;
                    vm.effectClasses.shrink = !vm.effectClasses.shrink;
                }, 1000)
            },
            startProgress: function() {
                var vm = this;
                var width = 0;
                setInterval(function(){
                    if(width < 200) {
                        width = width + 10;
                    }
                    vm.progressBar.width = width + 'px';
                }, 500)
            },
          updateSummary: function() {
            this.leaveSummary = [
              {name: 'LTS', hours: 0},
              {name: 'LTV', hours: 0},
              {name: 'LW1', hours: 0},
              {name: 'LW3', hours: 0},
            ]
            for(week in this.leavePlan){
              for(type in this.leaveSummary){
                if(this.leavePlan[week].leaveType==this.leaveSummary[type].name)
                  this.leaveSummary[type].hours += parseInt(this.leavePlan[week].leaveUsed)
              }
            }
          },
        }
    })
</script>
